.navigation {
  padding: 20px;
  display: inline-flex;
  flex-direction: column;
  gap: 10px;
  background: #f1faee;
  font-size: 14px;
}

@media (min-width: 768px) {
  a {
    font-size: 18px;
  }
}

@media (min-width: 1040px) {
  .navigation {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}
